{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js">
</script>
<script src"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js">
</script>
{% endblock %}

{% block title %} Pet Profile {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <img src='http://localhost:5000/{{ pet.profile_img }}'>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ pet.first_name }} {{ pet.last_name }}</h1>
            <p><strong>Animal:</strong> {{ pet.animal }}</p>
            {% if pet.breed %}
                <p><strong>Breed:</strong> {{ pet.breed }}</p>
            {% endif %}

            <p><strong>Birthdate:</strong> {{ pet.birthdate }}</p>
            {% if pet.bio %}
                <p>{{ pet.bio }}</p>
            {% endif %}

            <h4>Add New Entry:</h4>
            <form action='/add_entry' method='POST' id="entryForm">
                <label for='activity'></label>
                <select name='activity'>
                {% for activity in activities %}
                    <option value='{{ activity.activity_id }}'>{{ activity.activity }}</option>  
                {% endfor %}
                </select>
                <input type='hidden' name='pet_id' value='{{ pet.pet_id }}'>
                <input type='submit' name='submit' value='Enter'>
            </form>
        </div>
        <div class="col-sm-3 stats">
            <h6>STATS</h6>
            <table>
                <tr>
                    <th>Activity</th>
                    <th>Daily Avg</th>
                </tr>
                {% for activity in activities[:4] %}
                <tr>
                    <td>{{ activity.activity }}</td>
                    <td>{{ stats[activity.activity_id][0] }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <a href="#" data-toggle="modal" data-target="#activityModal">Track a new activity</a>
        </div>
    </div>
</div>

<!-- Activity Modal -->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="activityModalLabel">Add Activity</h4>
      </div>
      <div class="modal-body">
        <form action='/add_activity' method='POST' id="loginForm">
            <label for='activity'>Activity: </label><input type='text' name='activity'><br>

            <p><em>Optional: Select a min and/or max frequency for this activity, and the appropriate time period (i.e. activity= 'brush teeth' max='2' time period = 'weekly') </em></p>

            <label for='minimum'>Min</label><input type='number' name='minimum'><br>            
            <label for='maximum'>Max</label><input type='number' name='maximum'><br>

            <label for='time_period'>Time Period: </label>
            <select name='time_period'>
                <option value='day'>Daily</option>
                <option value='week'>Weekly</option>
                <option value='month'>Monthly</option>
                <option value='year'>Annually</option>
            </select>
            <input type='hidden' name='pet_id' value='{{ pet.pet_id }}'>

            <input type='submit' name='submit' value='Submit'>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
        <h4>Entries: </h4>
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="?period=today">Today</a></li>
          <li role="presentation"><a href="?period=week">Past Week</a></li>
          <li role="presentation"><a href="?period=all">All</a></li>
          <li role="presentation"><a href="?period=custom">Custom Range</a></li>
          <li role="presentation"><a href="?period=trends">Trends</a></li>
        </ul>
        <br>
        {% if period == 'trends' %}
            <canvas id="myChart" class="graphs" width="400" height="400"></canvas>
        {% else %}
            <div class='entries-list'>
            {% if entries %}
                {% for entry in entries %}
                    {{ entry.occurred_at }} --- {{ entry.user.username }} --- {{ entry.activity.activity }}
                    <br>
                {% endfor %}
            {% else %}
                <p>There are no entries for {{ pet.first_name }}.</p>
            {% endif %}
        {% endif %}
        </div>
        <br>
    </div>
</div>

<script>
var ctx = $("#myChart");

var options = { responsive: true,
                title: {
                    display: true,
                    text: 'Historical Frequency by Time of Day',
                    fontColor: '#000000',
                    fontSize: 10,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 200,
                            stepSize: 10,
                            fontColor: '#000000',
                            fontSize: 10,
                        }
                    }],
                    xAxes: [{
                        label: 'Hour',
                        barThickness: 3,
                        stacked: false,
                        ticks: {
                            fontColor: '#000000',
                        },
                    }],
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        boxWidth: 20,
                        fontColor: '#000000',
                    }
                }
            };


$.get('/chart_data.json', { pet_fname: "{{ pet.first_name }}", pet_lname: "{{ pet. last_name }}" }, function(data) {
    console.log(data);
    var hx_freq_chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options,
    });
});
</script>
{% endblock %}
