<!doctype html>
<html>
<head>
    <title>{% block title %} ENTER CHILD TEMPLATE BLOCK TITLE HERE {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    {% block head %} ENTER BLOCK HEADER CONTENT HERE {% endblock %}
</head>
<body>


  <!-- CHILD TEMPLATE BODY CONTENT  -->
  {% block body %} ENTER CHILD TEMPLATE BLOCK CONTENT HERE {% endblock %}
</body>
</html>