{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js">
</script>
<script src"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js">
</script>
{% endblock %}

{% block title %} Pet Profile {% endblock %}

{% block body %}
<img src='http://localhost:5000/{{ pet.profile_img }}'>
<h1>{{ pet.first_name }} {{ pet.last_name }}</h1>
<p><strong>Animal:</strong> {{ pet.animal }}</p>
{% if pet.breed %}
    <p><strong>Breed:</strong> {{ pet.breed }}</p>
{% endif %}

<p><strong>Birthdate:</strong> {{ pet.birthdate }}</p>
{% if pet.bio %}
    <p>{{ pet.bio }}</p>
{% endif %}

<h4>Add New Entry:</h4>
<form action='/add_entry' method='POST' id="entryForm">
    <label for='activity'></label>
    <select name='activity'>
    {% for activity in activities %}
        <option value='{{ activity.activity_id }}'>{{ activity.activity }}</option>  
    {% endfor %}
    </select>
    <input type='hidden' name='pet_id' value='{{ pet.pet_id }}'>
    <input type='submit' name='submit' value='Enter'>
</form>

<h4>Entries: </h4>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="?period=today">Today</a></li>
  <li role="presentation"><a href="?period=week">Past Week</a></li>
  <li role="presentation"><a href="?period=all">All</a></li>
  <li role="presentation"><a href="?period=custom">Custom Range</a></li>
</ul>
<canvas id="myChart" width="400" height="400"></canvas>
<div class='entries-list'>
{% if entries %}
    {% for entry in entries %}
        {{ entry.occurred_at }} --- {{ entry.user.username }} --- {{ entry.activity.activity }}
        <br>
    {% endfor %}
{% else %}
    <p>There are no entries for {{ pet.first_name }}.</p>
{% endif %}
</div>
<br>
<h4>Trends: </h4>

<script>
var ctx = $("#myChart");

var options = { responsive: true,
                title: {
                    display: true,
                    text: 'Historical Frequency by Time of Day',
                    fontColor: '#000000',
                    fontSize: 10,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            stepSize: 10,
                            fontColor: '#000000',
                            fontSize: 10,
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: '#000000',
                        }
                    }],
                }, 
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        boxWidth: 20,
                        fontColor: '#000000',
                    }
                }
            };


$.get('/chart_data.json', { pet_fname: "{{ pet.first_name }}", pet_lname: "{{ pet. last_name }}" }, function(data) {
    console.log(data);
    var hx_freq_chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options,
    });
});
</script>
{% endblock %}
