{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %} Pet Profile {% endblock %}

{% block body %}
<img src='http://localhost:5000/{{ pet.profile_img }}'>
<h1>{{ pet.first_name }} {{ pet.last_name }}</h1>
<p><strong>Animal:</strong> {{ pet.animal }}</p>
{% if pet.breed %}
    <p><strong>Breed:</strong> {{ pet.breed }}</p>
{% endif %}

<p><strong>Birthdate:</strong> {{ pet.birthdate }}</p>
<p>{{ pet.bio }}</p>

<h4>Add New Entry:</h4>
<form action='/add_entry' method='POST' id="entryForm">
    <label for='activity'></label>
    <select name='activity'>
    {% for activity in activities %}
        <option value='{{ activity.activity_id }}'>{{ activity.activity }}</option>  
    {% endfor %}
    </select>
    <input type='hidden' name='pet_id' value='{{ pet.pet_id }}'>
    <input type='submit' name='submit' value='Enter'>
</form>

<h4>Entries: </h4>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Today</a></li>
  <li role="presentation"><a href="?period=week">Past Week</a></li>
  <li role="presentation"><a href="?period=all">All</a></li>
  <li role="presentation"><a href="?period=custom">Custom Range</a></li>
</ul>

<div class='entries-list'>
{% if entries %}
    {% for entry in entries %}
        {{ entry.occurred_at }} --- {{ entry.user.username }} --- {{ entry.activity.activity }}
        <br>
    {% endfor %}
{% else %}
    <p>There are no entries for {{ pet.first_name }}.</p>
{% endif %}
</div>
<br>
<h4>Trends: </h4>


{% endblock %}
