{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %} User Profile {% endblock %}

{% block body %}
<img src='{{ current_user.profile_img }}'>
<h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
<h6>@{{ current_user.username }}</a>

<h4>My Pets: </h4>
{% if pets %}
    {% for pet in pets %}
        <a href="/{{ current_user.username }}/{{ pet.first_name }}-{{pet.last_name}}">{{ pet.first_name }} {{ pet.last_name }}</a>
        <br>
    {% endfor %}
{% else %}
    You have no pets at this time.
{% endif %}
<br>
<br>

<h4>Add a Pet:</h4>
    <form action='/add_pet' method='POST' id="petForm">
        <label for='fname'>First Name: </label><input type='text' name='fname'><br>
        <label for='animal'>Type of Animal: </label><input type='text' name='animal'><br>
        <label for='breed'>Breed: </label><input type='text' name='breed'><br>
        <label for='dob'>DOB: </label><input type='datetime' name='dob'><br>
        <label for='role'>I am the:</label>
        <select name='role'>
            <option value='primary'>Primary Caretaker</option>
            <option value='secondary'>Secondary Caretaker</option>
        </select>
        <br>
        <input type='submit' name='submit' value='Submit'>
    </form>

{% endblock %}
